
/* @font-face {
    font-family: 'Inter';
    src: url('../pages/fonts/Inter-Regular.ttf');
    src: url('../pages/fonts/Inter-VariableFont_slnt,wght.ttf');
} */

@font-face {
    font-family: 'Inter Tight';
    src: url('../fonts/InterTight-VariableFont_wght.ttf');
}

:root {
    --dark-blue: #a8c9f0;
    --light-blue: #cce3ff;
    /* --highlight-blue: #d1e6ff; */
    --near-highlight-blue: #dcecff;
    --highlight-blue: #e7f2ff;
    --text-color: black;
    --outline-color: #2d4767;
    --outline-color-half-alpha: #2d47667F;
    --outline-color-zero-alpha: #2d476600;

    --icon-color-disabled: #8fadd1;
}

:root {
    --dark-blue: #EDF0A8;
    --light-blue: #FAFCCC;
    --near-highlight-blue: #FEFFE5;
    --highlight-blue: #FEFFE7;
    --text-color: black;
    --outline-color: #64672D;
    --outline-color-half-alpha: #63662D7F;
    --outline-color-zero-alpha: #63662D00;

    --icon-color-disabled: #CED18F;
}

/* :root {
    --dark-blue: #fef7e1;//
    --dark-blue: #eee8d5;
    --light-blue: #ded7bf;//
    --light-blue: #ddd6c2;
    --highlight-blue: #fef9e7;
    --text-color: black;
    --outline-color: #7c6d36;
    --outline-color-half-alpha: #7c6d367F;
    --outline-color-zero-alpha: #7c6d3600;
} */

/* :root {
    --dark-blue: #E8EAEE;
    --light-blue: #FFFFFF;
    --light-blue: #E8EAEE;
    --highlight-blue: #FFFFFF;
    --text-color: black;
    --outline-color: #505050;
    --outline-color-half-alpha: #5050507F;
    --outline-color-zero-alpha: #50505000;
} */

/* :root {
    --dark-blue: #312E2B;
    --light-blue: #D5AD86;
    --text-color: #181614;
} */

body {
    color: var(--text-color);
    caret-color: var(--text-color);
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Inter Tight', sans-serif;
    /* font-size: 12pt; */
    font-weight: 570;

    /* -webkit-app-region: drag; */

    background: var(--dark-blue);
}

#tabBar {
    background: var(--primary-color);

    display: flex;

    -webkit-app-region: drag;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    width: 27px;
    min-width: 27px;
    height: 27px;
    min-height: 27px;

    border-radius: 10px;

    margin-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-app-region: no-drag;

    background: var(--light-blue);

    transition: background 100ms ease-out;

    outline: 2px solid var(--outline-color-zero-alpha);
    transition: outline-color 100ms ease-out;
}

.button:last-of-type {
    margin: none;
}

.button:hover:not(.active) {
    background: var(--highlight-blue);

    outline: 2px solid var(--outline-color-half-alpha);
}

.button.active {
    background: var(--highlight-blue);

    outline: 2px solid var(--outline-color);
}

.button.disabled, .button.disabled:hover {
    outline: var(--outline-color-zero-alpha);
}

.iconColor {
    fill: var(--outline-color);

    transition: fill 100ms ease-out;
}

.button.disabled > svg > .iconColor {
    fill: var(--icon-color-disabled);
}

.iconBackground {
    fill: var(--light-blue);
    transition: fill 100ms ease-out;
}

.button:hover > svg > .iconBackground {
    fill: var(--highlight-blue);
}

.button.active > svg > .iconBackground {
    fill: var(--highlight-blue);
}

#reload {
    width: 26px;
    min-width: 26px;
    height: 25px;
    min-height: 25px;
    padding-bottom: 2px;
    padding-left: 1px;
}

#tabs {
    /* width: calc(100vw - 78px); */
    /* width: calc(100vw - 84px); */
    /* width: calc(100vw - 80px); */
    width: calc(100vw - 80px - 4px);
    /* height: 37px; */
    height: 39px;

    /* padding-left: 2px;
    padding-right: 2px; */

    /* overflow-x: scroll; */

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 6px;

    -webkit-app-region: no-drag;
}

#tabs::-webkit-scrollbar {
    display: none;
}

#trafficMargin {
    /* width: 6px;
    min-width: 6px;

    height: 39px;
    min-height: 39px; */

    position: relative;

    width: 74px;
    min-width: 74px;

    height: 39px;
    min-height: 39px;

    /* width: 78px; */
    /* min-width: 78px; */
    /* width: 84px; */

    /* z-index: 10; */

    -webkit-app-region: drag;

    transition: min-width 100ms ease-out;
}

#trafficLights {
    position: absolute;

    left: 13px;
    top: 13px;
    
    width: 52px;
    height: 12px;

    display: flex;

    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.trafficButton {
    width: 12px;
    min-width: 12px;
    max-width: 12px;

    height: 12px;
    min-height: 12px;
    max-height: 12px;

    border-radius: 12px;

    background: var(--icon-color-disabled);
}

#tabMargin {
    width: 6px;
    min-width: 6px;
}

.tab {
    width: 100%;

    min-width: 70px;

    /* max-width: 180px; */
    /* height: 25px;
    min-height: 25px;
    max-height: 25px; */

    height: 27px;
    min-height: 27px;
    max-height: 27px;

    flex-shrink: 1;

    padding-left: 11px;
    padding-right: 11px;

    border-radius: 10px;

    font-size: 11pt;

    color: var(--text-color);
    color: var(--outline-color);

    background: var(--light-blue);

    overflow-x: hidden;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* user-select: none; */

    -webkit-app-region: no-drag;

    transition: background 100ms ease-out;

    outline: 2px solid var(--outline-color-zero-alpha);
    transition: outline-color 100ms ease-out;
}

.tab:hover:not(.active) {
    /* background: var(--highlight-blue); */

    /* background: #DAEBFF; */
    /* background: #DCECFF; */
    background: var(--near-highlight-blue);

    /* background: #deb790; */
    /* background: #bed8f9; */

    outline: 2px solid var(--outline-color-half-alpha);
}

.tab.active {
    background: var(--highlight-blue);
    /* background: #e7f2ff; */
}

.tabTitle {
    width: 100%;

    white-space: nowrap;

    user-select: none;

    overflow-x: scroll;

    font-size: 10.5pt;
}

.tabTitle::-webkit-scrollbar {
    display: none;
}

.tabInput {
    width: 100%;

    display: none;

    user-select: text;
    cursor: text;

    background: none;

    margin: none;
    margin-left: -2px;
    padding: none;

    border: none;
    outline: none;

    font-family: 'Inter Tight', sans-serif;
    font-weight: 570;
    font-size: 10.5pt;
}

/* #topSpacer {
    height: 23px;
} */

.tabSeparator {
    min-width: 3px;
    max-width: 3px;
    height: 17px;

    background: var(--outline-color);

    border-radius: 100vw;
}

.tabSeparator ~ div.tab {
    background: white;
    color: black;
}

.tabSeparator ~ div.tab:hover:not(.active) {
    /* background: hsl(65, 100%, 97.5%); */
    background: hsl(69, 100%, 99%);

    /* background: #deb790; */
    /* background: #bed8f9; */

    outline: 2px solid rgba(0, 0, 0, 0.25);
}

.tabSeparator ~ div.tab.active {
    outline: 2px solid black;
}

#sidebar {
    width: 42px;
    height: calc(100vh - 45px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 6px;

    padding-left: 6px;
    padding-right: 6px;

    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.icon {
    width: 42px;
    height: 42px;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--light-blue);

    transition: background 100ms ease-out;

    -webkit-app-region: no-drag;

    outline: 2px solid var(--outline-color-zero-alpha);
    transition: outline-color 100ms ease-out;
}

.icon:hover {
    background: var(--highlight-blue);
}

.icon.active {
    background: var(--highlight-blue);
}

.icon:hover:not(.active) {
    outline: 2px solid var(--outline-color-half-alpha);
}

.icon > img {
    width: 28px;
    height: auto;
}

.active {
    outline: 2px solid var(--outline-color);
}

