
/* @font-face {
    font-family: 'Inter';
    src: url('../pages/fonts/Inter-Regular.ttf');
    src: url('../pages/fonts/Inter-VariableFont_slnt,wght.ttf');
} */

@font-face {
    font-family: 'Inter Tight';
    src: url('../pages/fonts/InterTight-VariableFont_wght.ttf');
}

:root {
    --dark-blue: #A8C9F0;
    --light-blue: #CCE3FF;
    --highlight-blue: #d2e6ff;
    --text-color: black;
    --outline-color: #2D4766;
    --outline-color-half-alpha: #2d47667F;
    --outline-color-zero-alpha: #2d476600;
}

/* :root {
    --dark-blue: #E8EAEE;
    --light-blue: #FFFFFF;
    //--light-blue: #E8EAEE;
    --highlight-blue: #FFFFFF;
    --text-color: black;
    --outline-color: #505050;
    --outline-color-half-alpha: #5050507F;
    --outline-color-zero-alpha: #50505000;
} */

/* :root {
    --dark-blue: #312E2B;
    --light-blue: #D5AD86;
    --text-color: #181614;
} */

body {
    color: var(--text-color);
    caret-color: var(--text-color);
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
    
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Inter Tight', sans-serif;
    /* font-size: 12pt; */

    /* -webkit-app-region: drag; */
}

#tabBar {
    background: var(--primary-color);

    display: flex;

    -webkit-app-region: drag;

    /* display: none; */
}

#tabs {
    width: calc(100vw - 78px);
    /* height: 37px; */
    height: 39px;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 6px;
}

#trafficMargin {
    width: 78px;
}

#tabMargin {
    width: 6px;
}

.tab {
    width: 100%;

    /* max-width: 180px; */
    /* height: 25px;
    min-height: 25px;
    max-height: 25px; */

    height: 27px;
    min-height: 27px;
    max-height: 27px;

    flex-shrink: 1;

    padding-left: 11px;
    padding-right: 11px;

    border-radius: 10px;

    font-size: 11pt;

    color: var(--text-color);
    
    background: var(--light-blue);

    overflow-x: hidden;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* user-select: none; */
    
    -webkit-app-region: no-drag;
    
    transition: background 100ms ease-out;

    outline: 2px solid var(--outline-color-zero-alpha);
    transition: outline-color 100ms ease-out;
}

.tab:hover {
    background: var(--highlight-blue);
    /* background: #deb790; */
    /* background: #bed8f9; */

    outline: 2px solid var(--outline-color-half-alpha);
}

.tabTitle {
    width: 100%;

    white-space: nowrap;

    user-select: none;

    overflow-x: scroll;

    font-size: 10.5pt;
}

.tabTitle::-webkit-scrollbar {
    display: none;
}

.tabInput {
    width: 100%;

    display: none;
    
    user-select: text;
    cursor: text;
    
    background: none;
    
    margin: none;
    margin-left: -2px;
    padding: none;

    border: none;
    outline: none;
    
    font-size: 10.5pt;
}

/* #topSpacer {
    height: 23px;
} */

#sidebar {
    width: 42px;
    height: calc(100vh - 45px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 6px;

    padding-left: 6px;
    padding-right: 6px;

    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.icon {
    width: 42px;
    height: 42px;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--light-blue);

    transition: background 100ms ease-out;

    -webkit-app-region: no-drag;

    outline: 2px solid var(--outline-color-zero-alpha);
    transition: outline-color 100ms ease-out;
}

.icon:hover {
    background: var(--highlight-blue);

    outline: 2px solid var(--outline-color-half-alpha);
}

.icon > img {
    width: 28px;
    height: auto;
}

.active {
    outline: 2px solid var(--outline-color);
}

